.resize-handle-ratio {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 8px;
  width: 50%;
  height: 5px;
  cursor: ns-resize;
  background-color: black;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 0.2s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

*:hover > .resize-handle-ratio {
  opacity: 0.6;
}
